doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/index.js')</b>
    title FSE Chat Room
  body
    div.header
      span.left FSE Chat Room

    div#content
      div.container#login-container
        div.container-header
          h3 Welcome to FSE Chat Room
        div.container-body
          div.inlineBlock.nameform
            div.form-group
              span Please enter your name:
              input(type="text", value="Anonymous", placeholder="Anonymous")#name.form-control
            div.form-options
              a(href="javascript:void();", onclick="enter_chat()")#enter-chat Enter chatroom